.Card {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 
                0 1px 1px 0 rgba(0,0,0,.14),
                0 1px 3px 0 rgba(0,0,0,.12);
    max-width: 400px;
    background-color: white;
    color: black;
    margin: 10px;
}

.Header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.Section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

img {
    max-width: 90%;
}